/* Center title */
h1 {
    text-align: center;
}
/* Sizing form */
#submitForm {
    margin: 0 2em;  
}

/* Styling and positioning delete button */
.delete-button {
    padding: 2px 10px 2px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 0 1em 2em;
}

.delete-button:hover {
    background-color: #0056b3;
}

/* Styling and positioning back button */
#backBtn {
    position: absolute;
    right: 7em; 
    top: 5em;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#backBtn:hover {
    background-color: #0056b3;
}

/* Styling blog contents */
#blogList {
    border: 1px solid #ccc;
    border-radius: 5px;
}

#submitForm p {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px 0 5px 0;
    margin-bottom: 20px;
}

/* Styling footer */
footer a{
    text-decoration: none;
    color: #656460;
}

footer {
    margin: 3em 0 0 2em;
}


