/* Positioning blog */
.blog {
    display: flex;
    flex-direction: row;
    text-align: center;
    width: 90%;
    margin: 7% auto;
    justify-content: center;
    

}

/* Styling and positioning form */
#submitForm {
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    margin: auto 3em;
}

/* Styling logo */
.logo {
    display: flex;
    background-color: #F4BB44;
    color: #fff;
    padding: 15%;
    border-radius: 50%;
    text-align: center;
}

/* Text label */
label {
    display: block;
    font-size: 20px;
    margin: 15px;
    
}

/* Text area for the content */
textarea {
    width: calc(100% - 22px);
    min-height: 200px; 
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;

}

/* Inputs */
input[type="text"] {
    width: calc(100% - 22px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 15px;
}

/* Submit button */
button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 2em;
}

button:hover {
    background-color: #0056b3;
}

/* Smaller screen adjustment */
@media only screen and (min-width: 500px) {
    .container {
        flex-direction: row;
        justify-content: center;
    }

    form {
        width: 50%;
    }

    .logo {
        margin: auto;
        aspect-ratio: 1/1;
        font-size: 20px;
    }
}